.header {
    text-align: center;
}

.header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: 'Times New Roman';
}



.upload {
    cursor: pointer;
}

input{
    border: 1px solid #1c1c1d;
    border-radius: 5px 5px 5px 5px;
    color: #000;
    font-size: 15px;
    padding: 5px;
    background: rgb(255, 255, 255);
    margin: 50px;
}

.header{
    background-color: #FEDD59;
}

.mainContainer{
    background-color: #313E50;
}

body{
    background-color: #313E50;
}