p{
    color: red;
}

.formstyle{
    width: 850px;
    background-color: white;
    padding: 100px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0px 0 90px 0 rgba(179, 179, 179, 0.3);
}

body {
    background-color: #313E50;
}

nav{
    background-color: #FEDD59;
}