<div style="background-image: url(https://vidcache.net:8161/static/434767a26e7a6aba7f3b7cac30e6afd50dc4aa61/Diseño2.png);">

    <div class="main">
            <div class="navbar">
                <div class="icon">
                    <img src="https://s211.vidcache.net:8166/static/bbce1b2f9d93cdee9f1e1fd2c53116451e173532/barbell%20(1).png" alt="">
                    <h2 class="logo">GYM</h2>
    
                </div>
    
                <div class="menu">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a routerLink = "/form-components" routerLinkActive="active">INSCRIBIRSE</a></li>
                        <li><a href="#">SERVICE</a></li>
                        <li><a href="#"></a></li>
                        <div class="search">
                            <a href="#"> <button class="btn">Search</button></a>
                        </div>
                    </ul>
                </div>
    
    
    
            </div> 
            <div class="content">
                <h1>DESPIERTA ES <br><span>TIEMPO</span> <br>DE MEJORAR</h1>
                <p class="par">Nuestro gimnasio está equipado con la fuerza más apta de la industria<br> 
                    y equipo de cardio que tu necesitas para entrenar 
                    <br> ¿Qué esperas para comenzar?</p>
    
                    <button class="cn"><a routerLink = "/form-components" routerLinkActive="active">Registrate</a></button>
    
            </div>
        </div>
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </div>
    
    
    <!-- <app-form-components></app-form-components> -->
    <!-- <app-registro-pagos></app-registro-pagos> -->
    <!-- <app-registros></app-registros> -->
    <!-- <app-fileupload></app-fileupload> -->
    
    
    
